/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

/* Header */
.header {
    background-color: aquamarine;
    padding: 20px;
    font-size: .8rem;
}

/* Main */
.main {
    padding: 0 20px;
}

.current-tasks,
.completed-tasks {
    padding: 20px 0;
}

.main h2 {
    font-size: 1rem;
    padding-bottom: 20px;
}

.title {
    display: inline-block;
    font-weight: 600;
    padding-bottom: 5px;
}

.inner-list p {
    font-weight: 100;
    padding: 3px 0;
}

.task-list {
    font-size: .8rem;
    padding-bottom: 15px;
}

.state-tag {
    display: inline-block;
    background-color: #ff8c00;
    color: #ffffff;
    font-size: .7rem;
    font-weight: 600;
    padding: .5em 1.2em;
    margin-left: 10px;
}

/* Tag Colors */
.state-tag[mytagtype="red"] {
    background-color: #ce0000;
}

.state-tag[mytagtype="yellow"] {
    background-color: #ffc919;
}

.state-tag[mytagtype="green"] {
    background-color: #1f9b09;
}